.sidebar {
	margin: auto;
	display: flex;
	flex-direction: column;
	background: var(--grey);
	justify-content: center;
	border-radius: 1rem;
	border: 0.1rem solid var(--greyBorder);

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 5rem;
		width: 5rem;
		border-radius: 1rem;

		img {
			width: 60%;
			height: 60%;
		}

		&:hover {
			background: var(--orange);

			img {
				width: 70%;
				height: 70%;
			}
		}
	}
}

