.container {
	text-align: center;

	> table {
		padding: 0.5rem;
		border-collapse: separate;
		border-radius: 1rem;
		background: var(--primary-border);

		> thead > tr > td {
			background: var(--content-block-bg);
			border-radius: 1rem;
			text-align: center;
		}

		td {
			padding: 0.2rem 1rem;
		}

		a:hover {
			color: var(--orange);
		}
	}
}
