@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #1b1b1e;
	--background: #dbdbe7;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #dbdbe7;
		--background: #1b1b1e;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}