.container {
	border: 1px solid #F87D09;
	border-radius: 10px;
	background: #000000b1;
	margin: 10px auto;
	padding: 10px;
	width: 60%;
}

.container > * {
	text-align: center;
}

@media only screen and (max-device-width: 600px) {
	.container {
		font-size: 60px;
		width: 90%;
	}
}