.playerHand {
	display: flex;
	justify-content: safe center;
	width: 100%;
	padding-top: 1rem;

	overflow-x: auto;

	> div {
		cursor: pointer;
		transition-duration: 0.3s;

		&:hover {
			margin-top: -0.5rem;
		}
	}

	> .hold {
		border: 0.2rem solid green;
	}
}

.combinationTable {
	display: flex;
	align-items: center;
	justify-content: safe center;

	background: var(--orangeHover);
	border: 0.1rem solid var(--orange);
	border-radius: 0.5rem;
	max-width: 100%;
	padding: 0 1rem;

	overflow-x: auto;

	td {
		white-space: nowrap;
		text-align: start;
		padding: 0 0.5rem;
	}

	.active {
		color: var(--orange);
	}
}

// @media (max-width: 768px) {
// 	.playerHand {
// 		max-width: 100%;

// 		> div {
// 			margin-left: -0.9rem;
// 			margin-right: -0.9rem;
// 		}
// 	}
// }

// @media (max-width: 480px) {
// 	@media (max-width: 768px) {
// 		.playerHand > div {
// 			font-size: 1.8rem;
// 			margin-left: -1.1rem;
// 			margin-right: -1.1rem;
// 		}
// 	}

// 	.combinationTable {
// 		padding: 0 1rem;
// 	}
// }
