.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 20px;
	background: #222225;
	border-radius: 10px;
	margin: 20px;
}

.dicePicker {
	display: flex;
}

.dicePicker > span {
	display: flex;
	font-size: 36px;
	border: 3px solid rgba(255, 255, 255, 0.16);
	background: #000000a3;
	border-radius: 10px;
	width: 80px;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-device-width: 600px) {
	.container {
		font-size: 40px;
		padding: 20px;
	}

	.dicePicker > span {
		font-size: 100px;
		width: 180px;
	}
}
