table {
	margin: 0 auto;
	background-color: #575656;
	padding: 5px;
	border-radius: 5px;
}

.container {
	background: #97e69d;
	margin: 0;
	padding: 10px;
}

.buttons {
	margin: 0 auto;
	display: flex;
	width: 500px;
	padding-top: 20px;
}

.button {
	background-color: #8f7a66;
	color: #f9f6f2;
	height: 30px;
	width: 100px;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.5s, color 0.5s;
}

.button:hover {
	background-color: #eee4da;
	color: #303030;
	transition: background-color 0.5s, color 0.5s;
}

.cell {
	height: 100px;
	width: 100px;
	background-color: rgba(238, 228, 218, 0.35);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.color_2 {
	background-color: #eee4da;
}

.color_4 {
	background-color: #eee1c9;
}

.color_8 {
	background-color: #f3b27a;
}

.color_16 {
	background-color: #f69664;
}

.color_32 {
	background-color: #f77c5f;
}

.color_64 {
	background-color: #f75f3b;
}

.color_128 {
	background-color: #edd073;
}

.color_256 {
	background-color: #edcc62;
}

.color_512 {
	background-color: #edc950;
}

.color_1024 {
	background-color: #edc53f;
}

.color_2048 {
	background-color: #edc22e;
}

.number {
	color: #343434;
	font-size: 35px;
}

@media only screen and (max-device-width: 600px) {
	.container {
		font-size: 80px;
	}

	.cell {
		width: 200px;
		height: 200px;
	}

	.buttons {
		width: 800px;
		padding-top: 20px;
	}

	.button {
		font-size: 70px;
		width: 400px;
		height: auto;
		margin: 10px;
	}
}
