@font-face {
	font-family: 'mono45-headline';
	src: local('Mono45 Headline Regular'), local('Mono45-Headline-Regular'),
		url('Mono45Headline/Mono45Headline-Regular.woff2') format('woff2'),
		url('Mono45Headline/Mono45Headline-Regular.woff') format('woff'),
		url('Mono45Headline/Mono45Headline-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'mono45-headline', Arial, sans-serif;
}

body {
	margin: 0;
	background: #1B1B1E;
	color: #DBDBE7;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 1.5px;
}

.main-container {
	display: flex;
	height: calc(100vh - 60px);
}

.content {
	width: 100%;
}

/* containers for components */
.content > * {
	height: calc(100% - 80px);
	overflow-y: scroll;

	background: #222225;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
}

.content > * > * {
	margin: 5px;
}

.navbar {
	height: 60px;
}

.sidebar {
	width: 80px;
}

@media only screen and (max-device-width: 600px) {
	.navbar {
		height: 150px;
	}

	.sidebar {
		width: 100%;
		height: 200px;
		bottom: 0;
	}

	.content {
		height: calc(100vh - 350px);
	}

	.main-container {
		flex-direction: column-reverse;
		height: calc(100vh - 150px);
	}
}