.hand {
	display: flex;
	flex-direction: column;
	width: 100%;

	> div {
		display: flex;
		justify-content: safe center;
		overflow-x: auto;

		padding: 0 1rem;

		> div {
			margin-right: -1rem;
			margin-left: -1rem;
		}
	}
}
