.container > * {
    width: 100%;
    border-radius: 10px;
}

.messagesArea {
    height: 100%;
    white-space: pre-line;
    overflow-wrap: anywhere;
	overflow-y: scroll;
    margin: 5px 0;
    font-size: 14px;
}

.messagesArea > div {
    padding: 5px;
}

.inputArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid orange;
}

.inputArea > * {
    font-size: 20px;
    font-size: 20px;
    resize: none;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 10px;
}


@media only screen and (max-device-width: 600px) {
    .container {
		font-size: 50px;
        width: 100%;
    }

    .inputArea > * {
		font-size: 50px;
	}

    .messagesArea {
        font-size: 50px;
    }
}

