table {
	margin: 30px auto;
	background-color: #575656;
	padding: 5px;
	border-radius: 5px;
}

.container {
	margin: 10px;
	padding: 10px;
	text-align: center;
	align-items: center;
}

.buttons {
	margin: auto;
	display: flex;
	flex-direction: column;
	/* justify-content:space-between; */
	width: 70%;
}
/* 
.buttons > * {
	width: 100px;
	margin: auto;
} */

.button {
	background-color: #8f7a66;
	font-size: 30px;
	color: #f9f6f2;
	margin: auto;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.5s, color 0.5s;
	width: 180px;
}

.button:hover {
	background-color: #eee4da;
	color: #303030;
	transition: background-color 0.5s, color 0.5s;
}

.cell {
	height: 100px;
	width: 100px;
	background-color: rgba(238, 228, 218, 0.35);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.color_2 {
	background-color: #eee4da;
}

.color_4 {
	background-color: #eee1c9;
}

.color_8 {
	background-color: #f3b27a;
}

.color_16 {
	background-color: #f69664;
}

.color_32 {
	background-color: #f77c5f;
}

.color_64 {
	background-color: #f75f3b;
}

.color_128 {
	background-color: #edd073;
}

.color_256 {
	background-color: #edcc62;
}

.color_512 {
	background-color: #edc950;
}

.color_1024 {
	background-color: #edc53f;
}

.color_2048 {
	background-color: #edc22e;
}

.number {
	color: #343434;
	font-size: 60px;
}

@media only screen and (max-device-width: 600px) {
	.number {
		font-size: 100px;
	}

	.cell {
		width: 180px;
		height: 180px;
	}

	.button {
		font-size: 80px;
	}
	
	.buttons {
		width: 90%;
	}

	.buttons > .button {
		font-size: 60px;
		margin: auto;
	}
}
