.minerField {
	flex-direction: row;

	> div {
		margin: 0 1rem;
	}

	> .bombsPicker {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 20%;

		> button {
			width: 100%;
		}
	}

	> .gameField {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		height: 100%;

		> .row {
			display: flex;
			height: 20%;
			width: 100%;

			> .cell {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20%;
				border-radius: 0.5rem;
				border: 0.2rem solid var(--orangeDark);
				background-color: var(--orange);
				margin: 0.1rem;
				transition: 0.2s;
				cursor: pointer;
				background-size: 40%;
				background-position: center;
				background-repeat: no-repeat;

				&:disabled {
					cursor: not-allowed;
				}
			}

			> .picked {
				background-image: url(../../../assets/miner/diamond.svg);
				opacity: 0.6;
			}

			> .bomb {
				background-image: url(../../../assets/miner/bomb.svg);
				opacity: 0.6;
			}

			> .wasPicked {
				opacity: 0.2;
			}
		}
	}
}
