:root {
	--foreground: #dbdbe7;
	--background: #1b1b1e;

	--orange: #ff8c00;
	--orangeDark: #ab5e00;
	--orangeHover: #ff8c0050;

	--primary-bg: #2d2d2d;
	--primary-border: #595959;

	--content-block-bg: #ff8c0077;
	--content-block-border: #ff8c00;

	--rouletteGreen: #00c74d;
	--rouletteRed: #f95146;
	--rouletteBlack: #2d3035;

	--rouletteGreenDark: #00c74ca0;
	--rouletteRedDark: #f95146a0;
	--rouletteBlackDark: #2d3035a0;
}

[data-theme='light'] {
	--foreground: #0c0c0e;
	--background: #d1d1d1;

	--primary-bg: #fbfbfb;
	--primary-border: #b4b4b4;

	.svg {
		filter: brightness(0%);
	}
}

*::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
	border: 1px solid var(--orange);
	border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--orange);
	border-radius: 0.5rem;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 16px;
}

hr {
	border: none;
	border-top: 0.1rem solid var(--orange);
}

a {
	color: inherit;
	text-decoration: none;
}

a.linkBtn {
	display: inline-block;
	border: 0.1rem solid var(--orange);
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-align: center;

	&:hover {
		background: #f87d0950;
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	width: 100vw;
	height: 100vh;
	padding: 0.5rem;

	color: var(--foreground);
	background: var(--background);
}
