.header {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;

	background: var(--primary-bg);
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem var(--orange);
	width: 70%;
	max-width: 100%;
	height: 3rem;
	white-space: nowrap;

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 1rem;
		min-width: 3rem;

		> img {
			width: 100%;
			height: auto;
			max-height: 90%;
		}

		&:hover {
			background: var(--orangeHover);
		}
	}
}

.links {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: safe end;

	> * {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		padding: 0 0.5rem;
		border-radius: 1rem;
		height: 100%;
		width: auto;
		aspect-ratio: 1;

		&:hover {
			background: var(--orangeHover);
			text-decoration: underline;
		}
	}
}

.player {
	display: flex;
	gap: 0.5rem;
	position: relative;
	color: var(--orange);

	img {
		border-radius: 50%;
		border: 0.1rem solid var(--foreground);
		height: 80%;
		width: auto;
	}

	&:hover .profile-links {
		display: flex;
		flex-direction: column;
		position: absolute;
	}

	.profile-links {
		display: none;
		z-index: 10;
		top: 100%;
		right: 0;
		width: max-content;

		border: 0.1rem solid var(--orange);
		border-radius: 1rem;
		background-color: rgb(170, 118, 22);

		> * {
			padding: 0.2rem 0.5rem;
			text-align: end;
			color: var(--foreground);
		}

		a:hover {
			color: var(--orange);
		}
	}
}

.themeSwitcher,
.localeSwitcher {
	font-size: inherit;
	font-family: inherit;
	border: none;
	background-color: transparent;
	appearance: none;
	outline: none;
}

.orange-color {
	color: var(--orange);
}

@media (max-width: 768px) {
	.header {
		width: 100%;
	}
}
