.container {
	display: flex;
	flex-direction: column;
	background: #2A2A30;
	width: 100%;
	height: 100%;
}

.container > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container > a > * {
	width: 100%;
	height: 60%;
}

.container > a:hover {
	background: #F87D09;
}

.clicked {
	background: #b55b07;
}

@media only screen and (max-device-width: 600px) {
	.container {
		flex-direction: row;
	}

	.container > * {
		width: 33.33%;
	}
}
