.hiloField {
	flex-direction: column;

	> div {
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: safe center;
		overflow-x: scroll;
	}

	> .activeCard > div {
		margin: 0 2rem;
	}
}
