.container {
	width: calc(100% - 10px);
	text-align: center;

	> table {
		width: calc(100% - 40px);
		margin: 1rem;
		border-collapse: separate;
		border-radius: 1rem;
		background: var(--greyBorder);

		> thead > tr > td {
			background: var(--orangeDark);
			border-radius: 1rem;
			text-align: center;
		}

		td {
			padding: 0.1rem;
		}

		a:hover {
			color: var(--orange);
		}
	}
}
