$dia: 3rem;

.chip {
	height: $dia;
	width: $dia;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 0.7rem;
	color: #fff;
	position: relative;

	> img {
		position: absolute;
		height: $dia;
		width: $dia;
		border-radius: 50%;
	}
}

.active {
	outline: 0.2rem solid #40a02b;
}

.currencyChip {
	font-size: 0.6rem;
	background-color: rgb(30, 140, 0);
	color: #6f6f6f;
}

.yellow {
	background: #df8e1d;
}

.purple {
	background: #7287fd;
}

.orange {
	background: #e64553;
}

.red {
	background: #d20f39;
}

.blue {
	background: #04a5e5;
}

.black {
	background: #4c4f69;
}

.pink {
	background: #ea76cb;
}
