.container {
	display: flex;

	> a {
		border: 0.1rem solid var(--orange);
		border-radius: 0.5rem;
		padding: 0.5rem;
		margin: auto 0.5rem;
		width: 5rem;

		&:hover {
			background: #f87d0950;
		}
	}
}
