.nav {
	display: flex;
	background: #222225;
	padding: 5px 50px;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	right: 0;
	left: 0;
}

.links_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav a {
	color: #dbdbe7;
	text-decoration: none;
	text-align: center;
}

.nav a:hover {
	color: rgba(255, 255, 255, 0.61);
}

a.routes {
	padding: 10px;
}

a.routes:hover {
	text-decoration: underline;
}

.info {
	padding: 10px;
	display: flex;
	color: #f87d09;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.img {
	width: 120px;
	vertical-align: top;
}

@media only screen and (max-device-width: 600px) {
	.nav {
		font-size: 40px;
		height: 130px;
		padding: 10px;
	}

	.img {
		visibility: hidden;
		position: absolute;
	}
}
