.nav {
	display: flex;
	background: #222225;
	padding: 5px 50px;
	flex-direction: row;
	justify-content: space-between;
}

.links_container {
	display: flex;
}

.nav a {
	color: #DBDBE7;
	text-decoration: none;
	margin: auto;
}

.nav a:hover {
	color: rgba(255, 255, 255, 0.61);
}

a.routes {
	padding: 5px 40px;
}

a.routes:hover {
	text-decoration: underline;
}

.balance {
	display: flex;
	color: #F87D09;
	align-items: center;
}

.img {
	width: 120px;
	vertical-align: top;
}

@media only screen and (max-device-width: 600px) {
	.nav {
		flex-direction: column;
		font-size: 60px;
	}

	.links_container {
		display:block;
	}
}
