.nav {
	display: flex;
	background: #222225;
	padding: 5px 50px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	right: 0;
	left: 0;
}

.links_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.links_container > * {
	margin: 0 10px;
}

.nav a {
	color: #dbdbe7;
	text-decoration: none;
	text-align: center;
}

.nav a:hover {
	color: rgba(255, 255, 255, 0.61);
}

a.routes:hover {
	text-decoration: underline;
}

.info {
	display: flex;
	color: #f87d09;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.nav > div {
	height: 60px;
}

.img {
	height: 100%;
}

@media only screen and (max-device-width: 600px) {
	.nav {
		font-size: 30px;
		height: 140px;
		padding: 5px;
	}
}
