.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70%;
	height: 4rem;
	background: var(--grey);
	margin: auto;
	margin-top: 1rem;
	border-radius: 1rem;
	border: 0.1rem solid var(--greyBorder);

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 1rem;

		img {
			height: 80%;
			width: auto;
		}

		&:hover {
			background: var(--orangeHover);
			text-decoration: underline;
		}
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			padding: 0 1rem;
			height: 100%;
			border-radius: 1rem;

			&:hover {
				background: var(--orangeHover);
				text-decoration: underline;
			}
		}

		.player {
			color: var(--orange);

			img {
				border-radius: 50%;
				border: 0.1rem solid white;
				margin-right: 1rem;
			}
		}
	}
}
