.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	.betMaker {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;

		> div {
			width: 33%;
			margin: 0.5rem 0;

			> ul {
				border-radius: 0.5rem;
				margin-top: 0.3rem;
				padding: 0.5rem;
				text-align: start;
				list-style-type: none;
				border: 0.1rem solid var(--orange);

				> * {
					padding: 0.1rem 1rem;
					display: flex;
					justify-content: space-between;

					> span {
						display: flex;

						> button {
							padding: 0 0.2rem;
							margin-left: 0.2rem;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

.block {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	border: 0.1rem solid var(--orange);
	border-radius: 1rem;
}

.lastSpins {
	display: flex;
	flex-direction: row;
	justify-content: safe center;
	overflow: hidden;
	max-width: 50%;
	color: white;

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.5rem 0.2rem;
		border: 0.1rem solid var(--primary-border);
		border-radius: 50%;
		min-width: 2.5rem;
		min-height: 2.5rem;
		font-size: 0.8rem;
	}
}

.red {
	background-color: var(--rouletteRed);
}

.black {
	background-color: var(--rouletteBlack);
}

.green {
	background-color: var(--rouletteGreen);
}

.currentPlayerBet {
	color: var(--orange);
}

.losingBet {
	color: #ffffff60;
}

.connectionType {
	border-radius: 1rem;
	padding: 0.1rem 1rem;
	margin: 0.2rem;
	width: fit-content;
	border: 0.1rem solid rgb(193, 2, 2);
	background-color: rgb(249, 49, 49);
	color: white;

	&.success {
		border: 0.1rem solid rgb(55, 233, 55);
		background-color: rgba(17, 198, 17, 0.911);
	}
}

@media (max-width: 1200px) {
	.block {
		flex-direction: column;
	}

	.lastSpins {
		max-width: 100%;
	}
}
